<p [ngClass]="estilo">comp-atributos works!</p>
<h1 [ngStyle]="{ 'background':corFundo, 'color':corDaFonte }">Curso Angular</h1>
<button (click)="trocar()"> Change </button>


<ng-content select="h2"></ng-content>

<h1>Lista Compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)] = "item">
<button (click)="adicionarLista()">Submit</button>
<p>{{item}}</p>

<ng-content select="p"></ng-content>

<ul>
    <li *ngFor="let elemento of lista">{{ elemento }}</li>
</ul>

<hr>

<ng-template [ngIf] = "isEnableBlock">
    <a href="#">finalizar compra</a>
</ng-template>
<br>
<ng-template [ngIf] = "isEnableBlock">
    <a href="#">adicionar ao carrinho</a>
</ng-template>


<hr>
